body{
  font-size: 13px;
  background: url("../assets/fondo4.jpg") no-repeat left -10px $brand-secondary;

  > .content{
    background: white;
    opacity: 0.95;
  }
}

h1, h2, h3, h4, h5, h6{
  color: $text-color;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: $font-weight-600;
}

.page-title{
  color: $brand-terciary;
}

.navbar-brand{
  position: static;
  display: inline-block;
  width: auto;
  font-size: 2.25em;
  font-weight: $font-weight-300;

  a{
    color: #e13600;
  }
}

.form-search{
  opacity: 0.95;
}

.main-entity-logo{
  margin: 35px auto 30px;
}

// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (min--moz-device-pixel-ratio: 2),
// only screen and (-moz-min-device-pixel-ratio: 2),
// only screen and (-o-min-device-pixel-ratio: 2/1),
// only screen and (min-device-pixel-ratio: 2),
// only screen and (min-resolution: 192dpi),
// only screen and (min-resolution: 2dppx) {
//   .main-entity-logo a {
//     background-image: url(../assets/logo@2x.png);
//     background-size: $main-entity-logo-width $main-entity-logo-height;
//   }
// }

.navbar-default{
  opacity: 0.95;

  .navbar-nav{
    [class*="icon-"]:before{
      display: none;
    }

    > li > a{
      text-transform: uppercase;
      font-weight: $font-weight-300;
    }
  }
}

#menu-lang{
  margin-top: 72px;

  ul li input[type=submit] {
    text-transform: uppercase;
    font-size: 0.875em;
  }
}

.nav-tabs > li > a{
  font-size: 1em;

  > h3{
    color: $brand-primary;
    text-transform: uppercase;   
    font-weight: $font-weight-400;
  }
}

.panel-downloads{
  background: $brand-secondary;
  border-color: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $brand-terciary;
    }
  }
}

.main-footer{
  margin-bottom: 30px;
  opacity: 0.95;
}

.home-content{

  .expense-examples li{
    background: mix( $brand-terciary, $brand-secondary, 20% );
  }

  .options .option > div {
    border-top: 3px solid $brand-terciary;
    
    .icon{
      color: mix( $brand-terciary, $brand-secondary, 20% );
    }
  }
}

.policies-chart{
  padding: 0;
  border: none;
  background: none;
}

.policies-header .history-back a{
  border-color: $brand-primary;
  background: mix( $brand-primary, $brand-secondary, 30% );
}

.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

.form-search-glossary .btn-primary{
  background: $brand-primary;
  border-color: $brand-primary;
}
.glossary-terms h3:before, 
.glossary-terms h4:before{
  color: $brand-primary;
}

#query-panel .panel{
  background: $brand-secondary;
}

.search-content .panel .panel-heading{
  background: $brand-primary;

  h3{
    color: white;
  }
}

// Center table toggle +
table.table-grid tr td .toggle.expand, 
table.table-grid tr td .toggle.collapse{
  font-size: 22px;
  line-height: 18px;
  padding-left: 1px;
}
table.table-grid tr td .toggle.collapse{
  line-height: 20px;
}

// Tax Receipt
.tax-receipt-content .form-user-incomings{
  padding-top: $grid-gutter-width/2;

  label{
    text-align: left;
    width: 100%;
  }

  .form-group{
    width: auto;
  }
}

@media (min-width: $screen-sm-min) {

  .navbar-brand{
    margin: 58px 0 0;
  }

  .tax-receipt-content .form-user-incomings label{
    padding: 0 $grid-gutter-width/3;
    margin: 0;
    width: auto;
    vertical-align: middle;
    text-align: center;
  }
}

@media (min-width: $screen-md-min) {
  .navbar-brand{
    margin-right: 170px;
  }
}