/* Navarra header syles */
/* from http://www.gobiernoabierto.navarra.es/sites/all/themes/gob_abierto/css/general.css */
/* and http://www.gobiernoabierto.navarra.es/sites/all/themes/gob_abierto/css/generalRdesign.css */

/* Menu especial */
#menuEspecial{width:100%; padding:20px 0 0; margin:0 0 0.5em; font-size:1.077em; float: left;}
#menuEspecial ul{font-weight:bold;margin:0.1em 0;text-align:right;list-style:none;margin-top: 0; }
#menuEspecial li{padding:0;display:inline;}
#menuEspecial a{color:#666;padding:0 0.8em;text-decoration:none;border:none;line-height:1.35em;font-weight: 400;}
#menuEspecial li.logo a{padding-right:0;}
#menuEspecial .on a{position:relative;top:1px;}
#menuEspecial .logo{float:right;}
#menuEspecial .logo h1{display:inline;margin-top: 1em; }
#menuEspecial .logo h1 a {float:left;}
#menuEspecial .logo h1 a img{float:left;}

/*Contenedor*/
#header {text-align: left;}
#header .contenedor {position: absolute; width: auto; min-height: 1em; top: 20px; }  /*cambio la distancia entre lema y opciones de menu de 11em a 1em*/
#header .titulo {float:left; width:100%; margin-top: 13px;} /* 420/1000 */
#header .titulo div.h1 {font-family:georgia; font-size: 25px; margin: 0; font-style: italic; color:#EB3800; font-weight: normal;width:100%;}
#header .titulo div.h1 a {color:#EB3800;}
#header .titulo div.h2 {font-family:georgia; font-size: 25px; margin: 0; font-weight: normal;line-height:1.2em;width:100%;}
#header .titulo div.h2 a {color:#333;}
#header .titulo a:hover {text-decoration: none;}


body{
  font-size: 14px;
  background: url("../assets/fondo4.jpg") no-repeat left -10px $brand-secondary;

  > .content{
    background: white;
    background: rgba(255,255,255,0.95);
  }
}

h1, h2, h3, h4, h5, h6{
  color: $text-color;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: $font-weight-600;
}

.page-title{
  color: $brand-terciary;
}

.navbar-brand-container{
  background: white;
  text-align: center;
  margin-top: $grid-gutter-width/2;
  opacity: 0.95;
}

.navbar-brand{
  position: static;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 2*$grid-gutter-width/3 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: $font-weight-300;

  a{
    color: $brand-terciary;
  }
}

.form-search{
  opacity: 0.95;
}

.navbar-default{
  opacity: 0.95;

  .navbar-nav{
    [class*="icon-"]:before{
      display: none;
    }

    > li > a{
      text-transform: uppercase;
      font-weight: $font-weight-300;
    }
  }
}

#menu-lang{
  float: right;
  margin-top: 25px;
  margin-right: -$grid-gutter-width/6;

  ul li{
    border: none;

    input[type=submit] {
      text-transform: uppercase;
      font-size: 0.923em;
    }
  }
}

.section-header,
.budget-intro,
.policies-chart,
.home-content .options{
  background: none;
}
.policies-content,
.glossary-content{
  background: white;
}

.nav-tabs > li{

  > a{
    font-size: 1em;
    background: $brand-secondary;

    > h3{
      color: $brand-primary;
      text-transform: uppercase;   
      font-weight: $font-weight-400;
    }
  }

  &.active{
    border-top: 5px solid $brand-terciary;
    
    > a{
      background: white;

      h3{
        color: $gray-darker;
      }
    }
  }
}

.panel-downloads{
  background: $brand-secondary;
  border-color: $brand-secondary;

  a{
    color: $brand-primary;

    &:hover{
      color: $brand-terciary;
    }
  }
}

.main-footer{
  margin-bottom: 30px;
  opacity: 0.95;

  .credit-aragon{
    font-weight: $font-weight-400;
    font-size: 0.875em;
    min-height: 50px;
    padding-top: 80px;
    line-height: 40px;
    background: url(../assets/footer-logo.png) no-repeat center 0 transparent;

    @media (min-width: $screen-sm-min) {
      line-height: 1em;
      padding-top: 15px;
      padding-left: 200px;
      background-position: 0 0;
    }
  }
}

.home-content{

  .expense-examples li{
    background: mix( $brand-terciary, $brand-secondary, 20% );
  }

  .options .option > div {
    border: 1px solid $brand-primary;
    border-top-width: 5px;
    
    .icon{
      color: mix( $brand-terciary, $brand-secondary, 20% );
    }

    &:hover{
      border-color: $brand-terciary;
      background: mix( $brand-secondary, white, 50% );

      .icon{
        color: mix( $brand-terciary, $brand-secondary, 70% );
      }
    }
  }
}

.policies-chart{
  padding: 0;
  border: none;
}

.policies-header .history-back a{
  border-color: $brand-primary;
  background: mix( $brand-primary, $brand-secondary, 30% );
}

.social-sharing-toolbox li a{
  background-color: $brand-primary;
}

.form-search-glossary .btn-primary{
  background: $brand-primary;
  border-color: $brand-primary;
}
.glossary-terms h3:before, 
.glossary-terms h4:before{
  color: $brand-primary;
}

#query-panel .panel{
  background: $brand-secondary;
}

.search-content .panel .panel-heading{
  background: $brand-primary;

  h3{
    color: white;
  }
}

.data-sources .panel-body{
  font-size: 1.071em;
}

// Center table toggle +
table.table-grid tr td .toggle.expand, 
table.table-grid tr td .toggle.collapse{
  font-size: 23px;
  padding-left: 1px;
}

// Tax Receipt
.tax-receipt-content .form-user-incomings{
  padding-top: $grid-gutter-width/2;

  label{
    text-align: left;
    width: 100%;
  }

  .form-group{
    width: auto;
  }
}

@media (min-width: $screen-sm-min) {

  .tax-receipt-content .form-user-incomings label{
    padding: 0 $grid-gutter-width/3;
    margin: 0;
    width: auto;
    vertical-align: middle;
    text-align: center;
  }
}
