<form class="form-user-incomings" action="#" method="get">

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label for="input-incomes">{{ _('Indica tus ingresos brutos anuales') }}</label>
        <div class="input-group">
          <input id="input-incomes" class="form-control" type="number" placeholder="30000">
          <div class="input-group-addon">€</div>
        </div>
      </div>
    </div>
  </div>
  
</form>

<p id="tax-amount">{{ _('Has ingresado <b id="income-amount"></b>, contribuyes con un total de <b id="tax-amount-paid"></b> a los presupuestos del')|safe }} {{ _('Gobierno de Aragón') }}.</p>
