<form id="tax-receipt-form" class="form-user-incomings form-inline" action="#" method="get">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <div class="form-group">
        <label for="input-incomes">{{ _('Indica tus ingresos brutos anuales') }}</label>
        <div class="input-group">
          <input id="input-incomes" class="form-control" type="number" placeholder="30000">
          <div class="input-group-addon">€</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ _('Calcular') }}</button>
    </div>
  </div>
</form>


<p id="tax-amount">{{ _('Has ingresado <strong id="income-amount"></strong>, contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Navarra')|safe }}.</p>
