<form id="tax-receipt-form" class="form-user-incomings form-inline" action="#" method="get">
  <div class="row">
    <div class="col-md-9 col-md-offset-2">
      <div class="form-group">
        <label for="input-incomes">{{ _('Indica tus ingresos brutos anuales') }}</label>
        <div class="input-group">
          <input id="input-incomes" class="form-control" type="number" placeholder="30000">
          <div class="input-group-addon">€</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">{{ _('Calcular') }}</button>
    </div>
  </div>
</form>


<p id="tax-amount">{{ _('Has ingresado <strong id="income-amount"></strong>, contribuyes con un total de <strong id="tax-amount-paid"></strong> a los presupuestos del Gobierno de Navarra')|safe }}.</p>

<p class="tax-note"><small>{{ _('El cálculo está basado en aproximaciones medias y ni sustituye ni completa a las declaraciones tributarias oficiales, no es un simulador de la Renta.<br/>La aproximación incluye IRPF, IVA e Impuestos especiales, pero no la Seguridad Social. Para realizar el cálculo se ha supuesto lo siguiente: todos sus ingresos provienen de rendimientos del trabajo o de actividades económicas; tiene un consumo medio de gasolina, alcohol y tabaco; ahorra el 10% de sus ingresos; y se le han aplicado las reducciones de la base y deducciones de la cuota medias del conjunto de los contribuyentes en el IRPF')|safe }}.</small></p>
