<script>
  $(function () {
    var totalTaxPaid = 0;

    // Display amount as expense per capita
    function calculatePersonalTax(value, type, item) {
      if (value == null) return null;
      if (type === 'filter') return value;  // We filter based on the raw data

      var percentage = value / getBreakdownValue(item.root);
      return Formatter.decimal(percentage * totalTaxPaid, .01) + " €";
    }

    function formatTaxAmount(value) {
      return Formatter.decimal(value) + " €";
    }

    function calculateTaxAmount(val){

      // Calculamos la cuota acumulada de Impuestos Especiales: La recaudación en Navarra[4] / número de declarantes de IRPF [1]
      var iiee = 552929224 / 488235;

      // get input placeholder if empty value
      val = (val !== '') ? val : $('#input-incomes').attr('placeholder')

      if (val < 3000) {
        val = 3000;
        $('#input-incomes').val(val);
      }

      // set income amount
      $('#income-amount').html( formatTaxAmount(val) );
      
      // A los ingresos brutos les restamos la media de reducciones[1], sin que pueda ser menor que cero.
      var base_liquidable_irpf = val - 276.43;
      base_liquidable_irpf = (base_liquidable_irpf > 0) ? base_liquidable_irpf : 0;

      // Aplicamos la tarifa del IRPF de 2014 [2]
      var cuota_integra_irpf;
      if (base_liquidable_irpf <= 4000) {
        cuota_integra_irpf = base_liquidable_irpf * 0.13;
      } else if (base_liquidable_irpf > 4000 && base_liquidable_irpf <= 9000) {
        cuota_integra_irpf = 520 + (base_liquidable_irpf - 4000) * 0.22;
      } else if (base_liquidable_irpf > 9000 && base_liquidable_irpf <=  19000) {
        cuota_integra_irpf = 1620 + (base_liquidable_irpf - 9000) * 0.25;
      } else if (base_liquidable_irpf > 19000 && base_liquidable_irpf <= 32000) {
        cuota_integra_irpf = 4120 + (base_liquidable_irpf - 19000) * 0.28;
      } else if (base_liquidable_irpf > 32000 && base_liquidable_irpf <= 46000) {
        cuota_integra_irpf = 7760 + (base_liquidable_irpf - 32000) * 0.365;
      } else if (base_liquidable_irpf > 46000 && base_liquidable_irpf <= 60000) {
        cuota_integra_irpf = 12870 + (base_liquidable_irpf - 46000) * 0.415;
      } else if (base_liquidable_irpf > 60000 && base_liquidable_irpf <= 80000) {
        cuota_integra_irpf = 18680 + (base_liquidable_irpf - 60000) * 0.44;
      } else if (base_liquidable_irpf > 80000 && base_liquidable_irpf <= 125000) {
        cuota_integra_irpf = 27480 + (base_liquidable_irpf - 80000) * 0.47;
      } else if (base_liquidable_irpf > 125000 && base_liquidable_irpf <= 175000) {
        cuota_integra_irpf = 48630 + (base_liquidable_irpf - 125000) * 0.49;
      } else if (base_liquidable_irpf > 175000 && base_liquidable_irpf <= 300000) {
        cuota_integra_irpf = 73130 + (base_liquidable_irpf - 175000) * 0.505;
      } else {
        cuota_integra_irpf = 136255 + (base_liquidable_irpf - 300000) * 0.52;
      }

      // A la cuota íntegra obtenida le restamos la media de deducciones[3], sin que pueda ser menor que cero
      cuota_liquida_irpf = cuota_integra_irpf - 3147.98
      cuota_liquida_irpf = ( cuota_liquida_irpf > 0 ) ? cuota_liquida_irpf : 0;

      // Calculamos el importe soportado de IVA
      // Descontamos de los ingresos brutos la cuota de IRPF y un 10% de ahorro hipotético. Al resto le aplicamos el tipo medio ponderado[5]:
      var consumo = 0.90 * val - cuota_liquida_irpf;
      var iva = consumo * 0.1565;

      // Finalmente, sumamos las cuotas de IRPF, IIEE e IVA para obtener lo que el ciudadano paga de impuestos:
      return cuota_liquida_irpf + iiee + iva;
    }

    function redrawGrid(e) {
      if(e){
        e.preventDefault();
      }

      totalTaxPaid = calculateTaxAmount($('#input-incomes').val());
      
      $('#tax-amount-paid').html( formatTaxAmount(totalTaxPaid) );

      if ( myGrid !== undefined )  myGrid.destroy();
      myGrid = createBudgetGrid("#myGrid", gridData, [
        { data: "label", title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data: getBreakdownValue,
          title: '{{ _("Gasto") }}',
          render: calculatePersonalTax,
          year: breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    }

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var gridData = breakdownToTable(breakdown);
    var getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}');
    var myGrid;

    $("#tax-receipt-form").submit(redrawGrid);
    $("#input-incomes").change(redrawGrid);
    redrawGrid();
  })
</script>