<div id="totals-panel" class="data-panel">
  <div id="main-total" class="panel">
    <div class="panel-title row">
      <div class="col-sm-6"><span id="totals-year"></span></div>
      <div class="col-sm-6 text-right" aria-hidden="true"><span class="total-executed-label">{{ _('Ingresado') }}</span></div>
    </div>
    <ul class="panel-content">
      <li id="total">
        <div class="main-label"></div>
        <div class="col-sm-6 text-right"><span class="data-label">{{ _('Presupuestado') }}</span><span class="total-executed-amount"></span></div>
      </li>
    </ul>
  </div>
</div>